* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
}

/* Hero */
body {
  margin: 0;
  padding: 0;
}
.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(img/Pattern_01-min.jpg);
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(img/Giungla_03.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(60%);
}
.hero-content {
  position: relative;
  font-family: "Monserrat", sans-serif;
  color: red;
  text-align: center;
  margin: 0.625rem;
}
.hero-logo {
  position: absolute;
  top: 10rem;
  width: 30rem;
  height: 30rem;
  z-index: 1;
}
@media (max-width: 480px) {
  .hero-logo {
    width: 20rem;
    height: 20rem;
  }
}

/* Hero\ */

/**/
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  width: 100vw;
  padding-top: 1rem;
  color: rgb(128, 4, 53);
  z-index: 2;
  transform: perspective(75em);
  box-shadow: rgba(22, 31, 39, 0.42) 0px 60px 123px -25px,
    rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
  border-radius: 10px;
  border-bottom: 1px solid;
  border-bottom-color: rgb(213, 220, 226) rgb(213, 220, 226) rgb(184, 194, 204);
}
.footer-logo {
  width: 10rem;
}
.footer-social {
  width: 10rem;
}
.footer-social > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.footer-social li {
  list-style-type: none;
}

.footer-social .fa-regular,
.fa-brands {
  color: #800435;
}
